* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  background: #ff4d4d;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CONTAINER */
.container {
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background: linear-gradient(45deg, #4facfe, #00f2fe);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  transform: scale(1.05);
}

/* LIST */
#expenseList {
  list-style: none;
  margin-top: 10px;
}

#expenseList li {
  background: #f1f5ff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
